@page "/state/create/{CountryId:int}"
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Estado / Provincia</h3>

<StateForm @ref="stateForm" State="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />
